@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
h1{
   
    text-align: center;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 2.1rem;
    color: rgb(59, 71, 61);
    margin-bottom: 2rem;
    font-weight: 900;
    text-transform: capitalize;

}

p{
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 1px;
     font-family: 'Josefin Sans', sans-serif;
    
}


