@import "./mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Recursive:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.backImage {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  object-fit: cover;
  opacity: 0.5;
}
.home-main-back {
  position: relative;
  padding: 0 30px;
  background-color: rgb(81, 79, 77);
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  .home-header {
    background-color: rgb(74, 70, 47);
    border-left: 20px solid rgb(63, 63, 62);
    border-right: 20px solid rgb(63, 63, 62);
  }

  .header-content {
    .logo-div {
      width: 200px;
      height: 120px;
      @include flexprop1;
    }
    .header-text-box {
      h1 {
        font-family: inherit;
        color: rgb(58, 35, 0);
        font-size: 3rem;
        margin-bottom: 10px;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        text-transform: capitalize;
        text-shadow: 2px 1px 2px grey;
      }
    }
  }
  .header-p-text {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    font-family: "Raleway", sans-serif;
  }

  .register-buttons {
    .login_btn {
      font-weight: 700;
      background: none;
      box-shadow: black 0px 0px 5px;
      transition: background-color 0.5s ease 0s;
      padding: 10px 25px;
      border: 0px;
      border-radius: 10px;
      background-color: rgb(88, 59, 22);
      color: white;
      text-transform: capitalize;
      &:hover {
        background-color: rgb(55, 49, 22);
      }
    }
    .signUp_btn {
      font-weight: 700;
      background: none;
      box-shadow: black 0px 0px 5px;
      transition: background-color 0.5s ease 0s;
      padding: 10px 25px;
      border: 0px;
      border-radius: 10px;
      background-color: rgb(75, 64, 1);
      color: white;
      text-transform: capitalize;
      &:hover {
        background-color: rgb(55, 49, 22);
      }
    }
  }
  .main {
    height: 70vh;
    background-color: rgb(74, 70, 47);
    font-family: "Recursive", sans-serif;
  }
}
