@import "./mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.profile{
     min-height: 100vh;

 
    
}
.side-bar-column {
 
 background-color: #667868;
  padding: 0px !important;
  font-family: "Recursive", sans-serif;
   height: 100%;

  .side-bar-top {
    width: 100%;
    height: 30%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
  .profile_img {
    width: 100%;
    height: 30%;
    margin: 15px 0px;
    @include flexprop1;
    img {
      width: 50%;
      height: 50%;
      border-radius: 50%;
    }
  }
  .profile_text {
    margin: 10px 0;
    text-align: center;
    h6 {
      color: white;
    }
  }
  .profile-btns {
    padding: 0px 15px;
    margin: 10px 0;
    button {
      border: none;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: rgb(132, 155, 133);
      color: rgb(255, 255, 255);
      width: 100%;
      height: 40px;
      border-radius: 5px 10px 5px 10px;
      transition: all 0.5s linear;
      &:hover {
        background-color: rgb(2, 11, 2);
      }
    }
  }


    
}


.event-lists{
  
   position: relative;
   background-repeat: no-repeat; 
   background-color: white;
   &::before{
      content: "";
      background-image: url('../assets/back.jpg');
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0.5;
   }
}


.card{
   
    
    background-color: gray;
    .card-header{
      background-color: rgb(91, 123, 103);
      color: white;
     
    }

    .visit-btn{
      background-color: rgb(88, 62, 40);
      border: none;
      color: white;
      padding: 12px 12px;
      border-radius: 10px !important;
      cursor: pointer;
      transition: filter 0.25s ease 0s;
      &:hover{
        background-color: rgb(114, 80, 51);
      }
     
    }
}
